/* Add your styling here */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6fdff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color:#333
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color:#333
}

h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color:#333
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color:#333
}

.tabs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  overflow: hidden;
  z-index: 1000;
}

.tabs button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #02c4ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabs button:hover {
  background-color: #0083bf;
}

.section {
  display: none;
  padding: 20px;
}

.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  flex: 1;
  position: relative;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.active {
  display: block;
}

/* Adjust grid layout for timeline appearance */
.grid {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Add a solid border to the left of the second column */
.grid::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50% - 1px); /* Position the border in the middle of the container */
  width: 2px; /* Set the width of the border */
  background-color: #333; /* Set the color of the border */
  z-index: 1; /* Ensure the border is above the tiles */
}

/* Add circles for timeline markers */
/* Add circle for the 1st row */
.tile.odd:nth-child(1).tile::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  z-index: 2;
}

/* Add circle for the 2nd row */
.tile.even:nth-child(2).tile::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  z-index: 2;
}

/* Add circle for the 3rd row */
.tile.odd:nth-child(3).tile::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
  z-index: 2;
}

/* Adjust the position of the tiles */
.tile {
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #0083bf; /* Set light blue background color */
  color: white;
  display: flex;
  align-items: center; /* Align content vertically in the tile */
  justify-content: center; /* Center content horizontally */
  width: calc(50% - 15px); /* Set the width of the tiles to occupy half of the container width with spacing */
  margin: 10px; /* Add margin to create spacing between tiles */
  height: 200px; /* Set the height of each tile */
  position: relative; /* Position relative for pseudo-element */
}

/* Adjust the position of the tiles */
.tile.even:nth-child(2) {
  align-self: flex-end; /* Align the tile to the end of the row */
  margin-top: auto; /* Automatically calculate margin to push the tile to the end */
  margin-left: auto; /* Automatically calculate margin to push the tile to the end */
  margin-right: 10px; /* Add some right margin for spacing */
}

/* Adjust the position of the content */
.tile .content {
  padding: 15px;
  text-align: center; /* Align content to the center */
}

/* Adjust margins and paddings for better spacing and appearance */
.tile h2 {
  margin: 0;
  color: white;
  font-size: 18px;
  transition: margin 0.5s ease-out; /* Adjusted transition duration */

  /* Media Query for smaller devices */
  @media (max-width: 768px) {
   font-size: 15px;/* Change width to 100% for devices with a width of 768 pixels or less */
  }
}

.tile h3 {
  margin: 0;
  color: white;
  font-size: 16px;
  transition: margin 0.5s ease-out; /* Adjusted transition duration */

  /* Media Query for smaller devices */
  @media (max-width: 768px) {
    font-size: 12px;/* Change width to 100% for devices with a width of 768 pixels or less */
   }
}

.tile p {
  font-size: 14px;
  color: white;
  margin-bottom: 0;
  transition: opacity 0.5s ease-out; /* Updated transition */

  /* Media Query for smaller devices */
  @media (max-width: 768px) {
    font-size: 10px;/* Change width to 100% for devices with a width of 768 pixels or less */
   }
}

.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
}

.footer h1{
  color: white;
  text-align: center;
  font-size: 25px;
}

.footer p{
  color: white;
  text-align: center;
  font-size: 18px;
}

.footer a {
  color: white; /* Set the color of links in the footer to white */
  text-decoration: none; /* Remove underlines from links */
}

.footer a:hover {
  text-decoration: underline; /* Add underline on hover if needed */
}
