@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

/* General styles */
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #D9F0FF;
}

/* 
non-sticky header
header {
    font-size: 1.2rem;
    background-color: #333;
    color: white;
    padding: 0.5em 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */

header {
    font-size: 1.2rem;
    background-color: #333;
    color: white;
    padding: 0.5em 0;
    top: 0; /* Keeps the header at the top of the page */
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky; /* Make the header sticky */
    width: 100%; /* Ensure the header spans the entire width */
}

nav ul {
    list-style-type: none;
    padding: 0 1em;
    margin: 1em;
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap when the screen size decreases */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

nav ul li a:hover {
    color: #49b1de;
}

.resume-btn {
    margin-right: 20px;
    transition: transform 0.2s;
}

.resume-btn:hover {
    transform: scale(1.05);
}

.resume-btn a {
    background-color: #49b1de;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.resume-btn a:hover {
    background-color: #286078;
}

.name {
    font-family: 'Twinkle Star', serif;
    font-size: 5rem;
}

.welcome-section {
    position: relative; /* Ensure the pseudo-element is positioned relative to this section */
    background-image: url('media/night.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden; /* Prevent content overflow */
}

.welcome-section::before {
    content: ''; /* Necessary for pseudo-element */
    position: absolute; /* Position it relative to the section */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Add a black overlay with 50% opacity */
    z-index: 1; /* Place it below the content */
}

.welcome-section * {
    position: relative; /* Ensure the text stays on top of the overlay */
    z-index: 2;
}

/* Styles for all content sections */
.content-section {
    padding: 2em;
    margin: 2em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
}

/* Transition settings for all sections */
section {
    opacity: 0; /* Start with hidden */
    transform: translateY(20px); /* Start slightly below its position */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition for both fade-in and fade-out */
}

section.fade-in {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

section.fade-out {
    opacity: 0; /* Fully transparent */
    transform: translateY(10px); /* Move slightly down to match fade-in motion */
}

/* Ensuring all other styles below only apply to content sections */
h2 {
    color: #49b1de;
    font-size: 2.2rem;
    font-family: 'Quicksand', sans-serif;
}

/* About Me Section */
#about p {
    font-size: 0.9rem;
}

/* Education Section */
#education {
    background-color: #f4f4f9;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.education-entry {
    background-color: #49b1de;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    margin-bottom: 1.5em;
    color: #ecfeff;
}

.education-entry:hover {
    transform: translateY(-10px); /* Lift the card slightly */
    background-color: #2a91bd;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.entry-header {
    display: flex;
    align-items: center;
}

.entry-details h3 {
    font-size: 1.2em;
}

.entry-details h4 {
    font-size: 0.7rem;
}

.entry-details p {
    font-size: 0.9rem;
    text-align: center;
}

.university-logo {
    width: 50px; /* Adjust size as needed */
    height: auto; /* Preserve the original aspect ratio */
    margin-right: 1em;
}

.courses-tiles {
    display: grid; /* Use grid layout for tiles */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
    gap: 2em; /* Space between tiles */
}

.course-tile {
    width: 100%; /* Full width of grid cell */
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #49b1de; /* Card background color */
}

.course-tile:hover {
    transform: translateY(-10px); /* Lift the card slightly */
    background-color: #2a91bd;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.course-tile h3 {
    color: #ffffff; /* Color for course category headings */
    font-size: 1.6em; /* Slightly larger font size */
    margin-bottom: 0.5em; /* Space below the headings */
    padding: 0px 15px 0px 15px;
}

.course-tile ul {
    color: #e4eced; /* Color for course category headings */
    font-size: 1.1em; /* Slightly larger font size */
    padding: px px px 15px;
}

.project-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
}

.project-tile {
    width: 100%; /* Full width of grid cell */
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #49b1de; /* Card background color */
}

.project-tile:hover {
    transform: translateY(-10px); /* Lift the card slightly */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    background-color: #50a5c9;
}

.project-image {
    width: calc(100% - 40px); /* Reduce width to create space */
    height: 300px; /* Reduce height to maintain proportions */
    background-size: cover; /* Ensure the image covers the div */
    background-position: center; /* Center the image */
    border-radius: 20px; /* Slightly reduce border-radius */
    margin: 20px 20px 20px 20px; /* Add margin to create space */
    background-color: #f0f0f0; /* Optional: Add a background color for contrast */
}

.project-content {
    padding: 0px 20px 10px 20px; /* Add padding to the content */
}

.project-content h3 {
    font-size: 1.3rem;
    color: #f4feff;
    margin-bottom: 10px;
    font-weight: 600;
}

.project-content p {
    font-size: 0.9rem;
    color: #e4eced;
    line-height: 1.5;
    font-weight: 400;
    text-align: justify;
}

.project-btn {
    margin: 1em 1em 1em 0.2em;
    background-color: #49b1de;
    color: white;
    padding: 10px 20px;
    border-radius: 5vh;
    font-weight: bold;
    font-size: 1em;
    border: none; /* Remove the border */
    transition: transform 0.3s;
}

.project-btn:hover {
    background-color: #2a91bd;
    transform: scale(1.05);
}

.skills-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Space between tiles */
}

.skills-tile {
    background-color: #49b1de; /* Light background for tiles */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-tile:hover {
    background-color: #2a91bd; /* Change the background color */
    transform: translateY(-10px); /* Slight lift effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
    color: #ffffff; /* Optional: Ensure text is readable on the new background */
}


.skills-tile .iconify{
    font-size: 35px;
    padding: 10px;
}

/* Skill Title Styling */
.skills-tile h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #f6fcff;
    margin-bottom: 15px;
}

/* Skill List Styling */
.skills-tile ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Styling for the language table */
.language-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.language-table td {
    vertical-align: middle;
    padding: 10px;
    text-align: left;
    color: #ebfcff;
    font-weight: 600;
    font-size: 1rem;
}

/* Language proficiency bar styling */
.language-bar {
    display: flex;
    gap: 5px; /* Gap between the squares */
    justify-content: center;
}

/* Individual proficiency squares */
.proficiency {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border-color: #333;
    background-color: #00618b; /* Green when filled */
}

.proficiency.empty {
    background-color: #ffffff; /* Gray for empty square */
}

.proficiency.square {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.contact-me a {
    color: white; 
    margin-right: 15px; 
    font-size: 1.8em; 
    transition: color 0.3s; 
}

.contact-me a:hover {
    color: #49b1de; 
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

footer h2{
    color: white;
    font-size: 2em;
}

.contact-link {
    display: inline-block; /* Ensures the link wraps only around the icon */
    text-decoration: none; /* Removes any underline effect */
}

.contact-link span {
    display: block; /* Ensures the icon itself is clickable */
}

.contact-link .iconify {
    font-size: 30px; /* Increase the font size of the icons */
}


@media (max-width: 900px) {
    header {
        font-size: 0.8rem;
        padding: 0.8em 0;
    }

    nav ul {
        padding: 0 0.8em;
        margin: 0.8em;
    }

    nav ul li {
        margin-right: 10px;
    }

    .welcome-section {
        font-size: 2em; /* Reduce font size for very small screens */
    }

    .name {
        font-size: 3rem; /* Adjust name size */
    }

    h2 {
        font-size: 1.8rem; /* Adjust heading size */
    }

    .skills-list li {
        font-size: 0.9em; /* Adjust skills list item size */
    }

    .project-tile {
        padding: 10px; /* Increased padding for tiles */
        width: calc(100% - 10px); /* Full width for project tiles */
        box-sizing: border-box; /* Ensures padding is included in the width */
        margin-bottom: 15px; /* Space between project tiles */
    }

    .project-image{
        height: 200px;
        width: calc(100% - 10px);
        margin: 5px 5px 0px 5px;
    }

    .project-content {
        padding: 0px 20px 10px 20px; /* Add padding to the content */
    }

    .project-content h3 {
        font-size: 1rem; /* Adjust project title size */
    }

    .project-content p {
        font-size: 0.8rem; /* Adjust project title size */
    }

    .course-tile {
        padding: 15px; /* Increased padding for tiles */
        width: calc(100% - 10px); /* Full width for project tiles */
        box-sizing: border-box; /* Ensures padding is included in the width */
        margin-bottom: 15px; /* Space between project tiles */
    }

    .course-tile h3{
        font-size: 0.8rem;
    }

    .course-tile ul{
        font-size: 0.8rem;
    }

    button {
        width: 100%; /* Full-width buttons on small screens */
    }
}

@media (max-width: 450px) {
    header {
        font-size: 0.9em;
        flex-direction: column; /* Stack header elements */
        align-items: center; /* Center items in header */
        padding: 1.2em 0;
    }

    .welcome-section {
        font-size: 1.6em; /* Reduce font size for very small screens */
    }

    nav ul li {
        margin-right: 25px;
        align-items: center;
        text-align: center;
        padding: 5px;
    }

    nav ul {
        flex-direction: column; /* Stack nav items vertically */
    }
}