@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* This allows elements to wrap on smaller screens */
}

nav ul {
    list-style-type: none;
    padding: 0 1em;
    margin: 1em;
    display: flex;
    flex-wrap: wrap; /* Allow the items to wrap when the screen size decreases */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

nav ul li a:hover {
    color: #49b1de;
}

.resume-btn {
    margin-right: 20px;
    transition: transform 0.2s;
}

.resume-btn:hover {
    transform: scale(1.05);
}

.resume-btn a {
    background-color: #49b1de;
    color: white;
    padding: 10px 20px;
    border-radius: 5vh;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.resume-btn a:hover {
    background-color: #286078;
}

.name {
    font-family: 'Borel', sans-serif;
    font-size: 3em;
}

.welcome-section {
    background-image: url('media/night.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4em;
    text-align: center;
}

.welcome-section h1 {
    color: white;
    text-shadow: 
        -1px -1px 0 rgb(200, 200, 200),  
        1px -1px 0 rgb(200, 200, 200),
        -1px 1px 0 rgb(200, 200, 200),
        1px 1px 0 rgb(200, 200, 200);
}

/* Styles for all content sections */
.content-section {
    padding: 2em;
    margin: 2em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
}

section {
    opacity: 0; /* Start with hidden */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Smooth transition */
}

section.fade-in {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
    animation: fadeInAnimation ease 0.6s forwards; /* Add this line */
}

section.fade-out {
    opacity: 0; /* Fully transparent */
    transition: opacity 0.6s ease-out; /* Smooth transition */
}

/* Ensuring all other styles below only apply to content sections */
h2 {
    color: #49b1de;
    font-size: 2em;
}

.skills-list li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.project-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-tile {
    position: relative; /* Set position relative for the overlay */
    aspect-ratio: 1; /* Maintain square aspect ratio */
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 20px; 
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Transition for scale and shadow */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    overflow: hidden; /* Hide overflow for rounded corners */
    background-size: cover; /* Cover the entire tile */
    background-position: center; /* Center the background image */
}

/* Adding hover effect */
.project-tile:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Darker shadow for depth */
}

.project-tile::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* Position absolutely within the tile */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Cover entire tile */
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay with black color and 60% opacity */
    z-index: 1; /* Ensure it is behind the content */
    transition: opacity 0.3s; /* Smooth transition for opacity change */
}

/* Darkening the overlay on hover */
.project-tile:hover::before {
    opacity: 0.7; /* Darken the overlay on hover */
}

.project-tile h3 {
    color: white;
    font-size: 1.2em;
    margin: 0 0 10px 0; 
    position: relative;
    z-index: 2;
}

.project-tile p {
    color: #ececec; 
    font-size: 0.8em;
    position: relative;
    z-index: 2;
}

button {
    margin: 1em 1em 1em 0.2em;
    background-color: #49b1de;
    color: white;
    padding: 10px 20px;
    border-radius: 5vh;
    font-weight: bold;
    font-size: 1em;
    border: none; /* Remove the border */
    transition: transform 0.3s;
}

button:hover {
    background-color: #286078;
    transform: scale(1.05);
}

/* Education Section */
#education {
    background-color: #f4f4f9;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.education-entry {
    background-color: #49b1de;
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, box-shadow 0.3s;
    color: white;
}

.education-entry:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.entry-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.entry-details h3 {
    font-size: 1.2em;
}

.entry-details h4 {
    font-size: 1.1em;
}

.entry-details p {
    font-size: 1em;
}

.university-logo {
    width: 50px; /* Adjust size as needed */
    height: auto; /* Preserve the original aspect ratio */
    margin-right: 1em;
}

.courses-tiles {
    display: grid; /* Use grid layout for tiles */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
    gap: 2em; /* Space between tiles */
    margin-top: 1em;
}

.course-tile {
    background-color: #49b1de; /* Light background for tiles */
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 1.5em; /* Padding inside the tile */
    transition: transform 0.3s; /* Smooth transition for hover effect */
}

.course-tile:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
}

.course-tile h3 {
    color: #ffffff; /* Color for course category headings */
    font-size: 1.5em; /* Slightly larger font size */
    margin-bottom: 0.5em; /* Space below the headings */
}

.course-tile ul {
    color: #efeded; /* Color for course category headings */
    font-size: 1.2em; /* Slightly larger font size */
}

.contact-me a {
    color: white; 
    margin-right: 15px; 
    font-size: 2em; 
    transition: color 0.3s; 
}

.contact-me a:hover {
    color: #49b1de; 
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;            /* Set link color to white */
    text-decoration: underline; /* Underline the links */
}

/* Responsive styles */
@media (max-width: 768px) {
    .welcome-section {
        font-size: 2.2em; /* Reduce font size more on smaller screens */
    }

    .name {
        font-size: 3em; /* Adjust name size */
    }

    h2 {
        font-size: 1.5em; /* Adjust heading size */
    }

    .skills-list li {
        font-size: 1em; /* Adjust skills list item size */
    }

    button {
        width: 100%; /* Full-width buttons on small screens */
    }

    .project-tile {
        padding: 10px; /* Adjust padding for tiles */
        width: 25vh;
    }
}

@media (max-width: 410px) {
    header {
        font-size: 1em;
        padding: 0.8em 0;
    }

    nav ul {
        padding: 0 0.8em;
        margin: 0.8em;
    }

    nav ul li {
        margin-right: 10px;
    }

    .welcome-section {
        font-size: 2em; /* Reduce font size for very small screens */
    }

    .name {
        font-size: 2.5em; /* Adjust name size */
    }

    h2 {
        font-size: 1.2em; /* Adjust heading size */
    }

    .skills-list li {
        font-size: 0.9em; /* Adjust skills list item size */
    }

    .project-tile {
        padding: 10px; /* Adjust padding for tiles */
        width: 20vh;
    }

    button {
        width: 100%; /* Full-width buttons on small screens */
    }

    
}

@media (max-width: 370px) {
    header {
        font-size: 0.9em;
        flex-direction: column; /* Stack header elements */
        align-items: center; /* Center items in header */
    }

    .welcome-section {
        font-size: 1.6em; /* Reduce font size for very small screens */
    }

    nav ul li {
        margin-right: 25px;
        align-items: center;
        text-align: center;
    }

    nav ul {
        flex-direction: column; /* Stack nav items vertically */
    }
}