/* Add your styling here */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6fdff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color:#333
}

h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color:#333
}

h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color:#333
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color:#333
}

#name {
  color: #02c4ff;
  font-size: 22px;
}

.tabs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #02c4ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabs button:hover {
  background-color: #0083bf;
}

.section {
  display: none;
  padding: 20px;
}

.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  flex: 1;
  position: relative;
}

button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.active {
  display: block;
}

/* Resume button */
.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #02c4ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0083bf;
}

.footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
}

.footer h1{
  color: white;
  text-align: center;
  font-size: 25px;
}

.footer p{
  color: white;
  text-align: center;
  font-size: 18px;
}

.footer a {
  color: white; /* Set the color of links in the footer to white */
  text-decoration: none; /* Remove underlines from links */
}

.footer a:hover {
  text-decoration: underline; /* Add underline on hover if needed */
}
