/* About.css */

.about-content-container h2 {
  font-size: 2rem;
  color: #555;
  margin-bottom: 2vh;
}

/* Style for the paragraph text */
.about-content-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 2vh;
}

/* Style for the email link */
.about-content-container a {
  color: var(--primary-color);
  text-decoration: none;
}

.about-content-container a:hover {
  text-decoration: underline;
  color: var(--primary-color-darken);
}
