/* Education.css */

.timeline {
  position: relative;
  margin-left: 30px;
  padding-left: 20px;
  border-left: 4px solid var(--primary-color);
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background-color: var(--primary-color-darken);
  border-radius: 50%;
  position: absolute;
  left: -3.2vw;
  top: 10vh;
}

.timeline-item {
  position: relative;
  margin-bottom: 4vh;
}

.education-card{
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.education-card:hover{
  background-color: var(--primary-color-darken);
}

.timeline-content {
  display: flex;
  align-items: center;
  border-radius: var(--radius-medium);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-content:hover {
  transform: translateX(1vw);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.education-logo {
  width: 7vh;
  height: auto;
  margin-right: 4vw;
}

.education-info {
  flex: 1;
  color: white;
}

.education-info h2 {
  font-size: 1.2rem;
  margin: 0;
}

.education-info h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px 0 10px;
}

.education-info p {
  font-size: 0.9rem;
  color: whitesmoke;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    border-left: none;
  }

  .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: var(--primary-color);
  }

  .timeline-dot {
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .timeline-content {
    width: 43%;
    position: relative;
    z-index: 2;
    margin: 0x 2vw;
  }

  .timeline-item:nth-child(odd) .timeline-content {
    margin-right: auto; 
    text-align: right;
  }

  .timeline-item:nth-child(even) .timeline-content {
    margin-left: auto;
    text-align: left;
  }

  .timeline-item:nth-child(odd) .timeline-content:hover {
    transform: translateX(-1vw); 
  }

  .timeline-item:nth-child(odd) .education-logo {
    margin-left: 4vw;
    margin-right: 0;
    order: 1;
  }
}

