footer {
    text-align: center;
    background-color: var(--font-dark);
    color: var(--font-white);
    padding: 10px;
}

footer h1{
    color: var(--font-white)e;
    font-size: 1.5em;
}

.contact-me a {
    color: var(--font-white); 
    margin-right: 15px; 
    font-size: 1.2em; 
    transition: color 0.3s; 
}

.contact-me a:hover {
    color: var(--primary-color); 
}

.contact-link {
    display: inline-block; /* Ensures the link wraps only around the icon */
    text-decoration: none; /* Removes any underline effect */
}

.contact-link span {
    display: block; /* Ensures the icon itself is clickable */
}

.contact-link .iconify {
    font-size: 30px; /* Increase the font size of the icons */
}

.footer-credit {
  font-size: 0.9rem;
  color: #aaa;
}