.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2vw;
}

.skills-card{
  background-color: var(--card-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Icon grid */
.skill-icon-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  margin-top: 10px;
}

.iconify {
  font-size: 40px;
  transition: transform 0.2s, filter 0.3s;
}

.iconify:hover {
  transform: scale(1.2);
  filter: brightness(1.1);
}

.language-table {
  width: 100%;
  margin-top: 1vh;
}

.language-table td {
  color: var(--font-muted);
}

.language-bar {
  display: flex;
  gap: 0.6vw;
  flex-wrap: nowrap;
}

.proficiency.square {
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.proficiency.square.empty {
  background-color: whitesmoke;
}
