/* Welcome.css */
.welcome {
    background-image: url('../assets/media/night.jpg'); /* Path to the image */
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the background image */
    height: 100vh; /* Ensure the section takes the full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color for better contrast */
    width: 100%;
  }

  .name {
    font-size: 6rem;
    font-family: 'Twinkle Star', serif;
    font-weight: bold;
    text-align: center;
  }
  