/* About.css */

/* Style for the content container */
.about-content-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 60px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 3vh;
}

/* Style for the headings */
.about-content-container h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.about-content-container h2 {
  font-size: 1.4rem;
  color: #555; 
  margin-bottom: 1.5vh;
}

/* Style for the paragraph text */
.about-content-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 10px;
}

/* Style for the email link */
.about-content-container a {
  color: #49b1de;
  text-decoration: none;
}

.about-content-container a:hover {
  text-decoration: underline; /* Underline on hover */
}