/* Education.css */

.timeline {
  position: relative;
  margin-left: 25px;
  padding-left: 20px;
  border-left: 4px solid var(--primary-color);
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  left: -4.5vh;
  top: 9vh;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.education-card{
    background-color: var(--primary-color);
    border: 2px solid #ccc
}

.education-card:hover{
  background-color: var(--primary-color-darken);
}

.timeline-content {
  display: flex;
  align-items: center;
  border-radius: var(--radius-medium);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-content:hover {
  transform: translateX(4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

.education-logo {
  width: 7vh;
  height: auto;
  margin-right: 4vw;
}

.education-info {
  flex: 1;
  color: white;
}

.education-info h2 {
  font-size: 1.2rem;
  margin: 0;
}

.education-info h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px 0 10px;
}

.education-info p {
  font-size: 0.85rem;
  color: whitesmoke;
}